<header class="header-area {% if page.url contains 'about' %}about-header{% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="header-inner">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-8">
                            <div class="logo">
                                <a href="{{ site.baseurl }}/">
                                    <img src="{{ site.baseurl }}/assets/img/logo-svg.svg" alt="onion-logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-4">
                            <div id="mobile-header">
                                <a id="responsive-menu-button"><i class="fa fa-bars"></i></a>
                            </div>
                            <div class="main-nav">
                                <ul>
                                    <li><a href="{{ site.baseurl }}/about">About</a></li>
                                    <li><a href="{{ site.baseurl }}/privacy-policy">Privacy</a></li>
                                    <li><a href="{{ site.baseurl }}/legal">Legal</a></li>
                                    <li class="for-desktop"><a href="{{ site.baseurl }}/download">Download</a></li>
                                    <li class="for-small-devices"><a href="{{ site.baseurl }}/download">Download</a></li>
                                    <li><a href="{{ site.baseurl }}/faqs">Faqs</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2">
                            <div class="donate">
                                <a href="{{ site.baseurl }}/donate" class="oni-btn">Donate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile menu -->
    <div id="sidr" class="main-nav-for-mobile">
        <a id="close-button">X</a>
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/about">About</a></li>
            <li><a href="{{ site.baseurl }}/privacy-policy">Privacy</a></li>
            <li><a href="{{ site.baseurl }}/legal">Legal</a></li>
            <li class="for-desktop"><a href="https://apps.apple.com/us/app/onion-browser/id519296448" target="_blank">Download</a></li>
            <li class="for-small-devices"><a href="https://apps.apple.com/us/app/onion-browser/id519296448">Download</a></li>
            <li><a href="{{ site.baseurl }}/faqs">FAQs</a></li>
            <li><a href="{{ site.baseurl }}/donate">Donate</a></li>
        </ul>
        <div class="lang">
            <ul>
                <li><a href="#"><i class="fa fa-globe"></i> Language</a></li>
            </ul>
        </div>
    </div>
</header>
