---
layout: default
permalink: /download
title: Orbot - Downloads
description: Orbot is a Tor VPN for Android. It keeps apps safe!
---

{% assign download_data = site.data.en.download %}

<div class="special-area about-conn">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="special-inner text-center">
                    <p>{{ download_data.special_area.title }}</p>
                    <h2>{{ download_data.special_area.subtitle }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tor-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="tor-inner">
                    <div class="tor-items">
                        {% for item in download_data.tor_area.tor_items %}
                        <div class="tor-item">
                            <div class="ti-thumb">
                            </div>
                            <div class="ti-detail">
                                <h4>{{ item.title }}</h4>
                                <p>{{ item.info | markdownify }}</p>
                            </div>
                        </div>
                        {% endfor %}
                          <div class="tor-header text-center">
                        <span>{{ download_data.tor_area.text }} <a href="{{ download_data.tor_area.url }}" target="_blank">{{ download_data.tor_area.url | remove: "https://" }}</a></span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include general/bottom_donate_area.html %}
